<div data-hook="admin_product_form_stores">
  <%= f.field_container :store_ids, class: ['form-group'] do %>
    <%= f.label :store_ids, Spree.t(:stores) %> *<br />
    <%= f.collection_select :store_ids, Spree::Store.all, :id, :name, {}, {:multiple => true, :class => 'select2'} %>
  <% end %>
</div>
